BODY {
        background-color: #e1e1f1;
        color: #000000;
        max-width: 1200px;
}
A:link {
   color: #4430cf;
   text-decoration: none;
}
A:visited {
   color: #74308a;
   text-decoration: none;
}
A:active {
   color: #0000ff;
   text-decoration: underline;
   background-color: #f0f0ff;
}
A:hover {
   color: #0000ff;
   text-decoration: underline;
   background-color: #d5d5f0;
}
H1 {
        padding: 7px 30px;
		width: 90%;
        margin: 20px 0px 30px 0px;
        color: #0f0f23;
        background-color: #d1d1e1;
        font-weight: bold;
        text-align: left;
}
H2 {
        padding: 10px;
		width: 80%;
        margin: 20px 3px;
        color: #1f0f23;
        font-weight: bold;
        text-align: left;
		border-style: solid;
		border-width: 0pt 1pt 1pt 0pt;
		border-color: #222233;
}
H3 {
        padding: 5px;
		width: 70%;
        margin: 15px 0px;
        color: #0f1f23;
        font-weight: bold;
        text-align: left;
		border-style: solid;
		border-width: 0pt 0pt 1pt 0pt;
		border-color: #222233;
}
PRE {
   margin: 0px 20px;
   width: 93%;
   color: #101010;
   background-color: #d5d5d5;
}
DIV.signature {
    text-align: right;
}
DIV.right {
    text-align: right;
}
DIV.update {
	text-align: right;
	font-size: small;
	font-style: italic;
}
